<div  >
        <mat-card fxLayoutAlign="center center">
            <form [formGroup]="service.formModel"  class="example-form" autocomplete="off" fxFlex="25" (sumbmit)="OnSubmit()" >

                <mat-form-field class="example-full-width">
                    <mat-label class="md-primary">UserName</mat-label>
                    <input matInput placeholder="Enter UserName" formControlName="UserName"  required>
                    
                </mat-form-field>
                <div>
                    <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required"> This field in mandatory</label>
                </div>

                <mat-form-field class="example-full-width ">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email" type="email" formControlName="Email" required >
                    
                </mat-form-field>
                <div>
                    <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email"> Invalid Email address</label>
                </div>
                
                <mat-form-field class="example-full-width">
                    <mat-label>FullName</mat-label>
                    <input matInput placeholder="Enter FullName" formControlName="FullName" >
                </mat-form-field>
                <div formGroupName="Password">

                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Password" type="password" formControlName="Password" required>
                    </mat-form-field>
                    <div>
                        <label class="text-danger" *ngIf="service.formModel.get('Password.Password').touched && service.formModel.get('Password.Password').errors?.required"> This field in mandatory</label>
                        <label class="text-danger" *ngIf="service.formModel.get('Password.Password').touched && service.formModel.get('Password.Password').errors?.minlength"> Minimum of 4 characters</label>
                    </div>

                    <mat-form-field class="example-full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Enter Password" type="password" formControlName="ConfirmPassword" required>
                        
                    </mat-form-field>
                    <div>
                        <label class="text-danger" *ngIf="service.formModel.get('Password.Password').touched && service.formModel.get('Password.Password').errors?.required"> This field in mandatory</label>
                        <label class="text-danger" *ngIf="service.formModel.get('Password.Password').touched && service.formModel.get('Password.Password').errors?.passwordMismatch"> Password mismatch</label>
                    </div>
                </div>
                
                <div class="example-button-row">
                    <button mat-raised-button color="primary" type="submit" [disabled]="!service.formModel.valid">Sign Up</button>
                    
                </div>
                
            </form>
        </mat-card>
    
        
    
</div>



