<div  >
        <mat-card fxLayoutAlign="center center">
            <form [formGroup]="service.formModel"  class="example-form" autocomplete="off" fxFlex="25">
                <mat-form-field class="example-full-width">
                    <mat-label>UserName</mat-label>
                    <input matInput placeholder="Enter UserName" formControlName="UserName"  required>
                </mat-form-field>
    
                <div class="form-group required">
                    <mat-form-field class="example-full-width ">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Enter Email" type="email" formControlName="Email" required >
                        
                    </mat-form-field>
                </div> 
                <mat-form-field class="example-full-width">
                    <mat-label>FullName</mat-label>
                    <input matInput placeholder="Enter FullName" formControlName="FullName" >
                </mat-form-field>
                <div formGroupName="Password">
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter Password" type="password" formControlName="Password" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Enter Password" type="password" formControlName="ConfirmPassword" required>
                    </mat-form-field>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit">Sign Up</button>
                        
                    </div>
                </div>
                
            </form>
        </mat-card>
    
        
    
</div>



